<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd        
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
     	http://www.springframework.org/schema/aop 
     	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc 
     	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<!-- 启用MVC注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>QuoteFieldNames</value>
						<value>WriteDateUseDateFormat</value>
						<!-- 禁用fastjson循环引用检测 -->
						<value>DisableCircularReferenceDetect</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 配置文件上传解析器 -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 设定文件上传的最大值10MB，10*1024*1024 -->
		<property name="maxUploadSize" value="10485760"/>
	</bean>

	<!--开启注解（Activates various annotations to be detected in bean classes）-->
    <!--<context:annotation-config /> 下面的component-scan 包含了annotation-config属性并且默认是true-->
	<context:component-scan base-package="cn.anyoufang.controller" />

	<!--暂时注释掉定时任务-->
	<!--<task:annotation-driven scheduler="myScheduler" mode="proxy" />-->
	<!--<task:scheduler id="myScheduler" pool-size="10"/>-->
	<mvc:interceptors>  
       <bean class="cn.anyoufang.interceptor.ProcessInterceptor"></bean>
	</mvc:interceptors>

	<!--启用servlet容器的default servlet来处理静态资源，以下两种方式都可以-->
	<!--<mvc:resources mapping="/**" location="/"/>-->
	<mvc:default-servlet-handler />
<!--	开启基于CGLIB的动态代理,默认情况下是基于java interface的动态代理
	<aop:aspectj-autoproxy proxy-target-class="true" />-->

</beans>